/*Imported fonts for webpage*/


body {
	background-color: #FAEBD7;
	
}


#webname{
	border: 1px solid black;
	margin: 20px 525px 0px 0px;
	padding: 10px 10px 10px 10px;
	float: right;
	text-align: center;
	font-size: 50px;
	background-color: #F0F8FF;
	font-family: Pacifico;
	

}

button: active {
    position: relative;
    top: 1px;
}
button:hover {
    background: #4c2827;
    border-bottom-color: #111;
}

#navBar{
	width:100%;
	margin: 20px 0px 0px 0px;
	padding: 0px;
	list-style: none;
	display: inline-block;
	background-color: #F0F8FF;
	text-align: center;
	font-family: sans-serif;
}

#home{
	margin: 20px 20px 20px 20px;
}

#about{
	margin: 20px 20px 20px 20px;
}

#store{
	margin: 20px 20px 20px 20px;
}

#blog{
	margin: 20px 20px 20px 20px;
}

#contact{
	margin: 20px 20px 20px 20px;
}

.rightimg{
	width: 250px;
	height: 225px;

	
}

.leftimg{
	width: 252px;
	height: 200px;
	

}

#mainTxt{
	border: 1px solid black;
	text-align: center;
	margin: 30px 300px 3px 200px;
	background-color: #F0F8FF;
	
}

/*Left Sidebar*/

.col-sm-3{  
	text-align: center;
	background-color: #F0F8FF;	
}
.leftimg{
	float: left;
}

/*Middle column*/

.com-sm-6{ 
	text-align: center;
	background-color: #F0F8FF;

}

.sidebarId{
	text-align: center;
}

.rightimg{
	float: right;
}



#blocktxt {
	font-family: sans-serif;
}


/*Hover Images*/



